body {
    font-family: 'Malgun Gothic', Arial;
    line-height: 1;
    color: black;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.header {
    background-color: #1f487c;
    color: white;
    text-align: center;
    padding: 1em 0;
}


.intro {
    padding: 1em;
    background-color: rgb(225, 230, 236);
}

.intro p {
    margin: 0;
    line-height: 1.8;
}


.content {
    padding: 1em;
    line-height: 2;
}

.content form{
    flex: 1;
}

/*라디오*/
input[type="radio"] {
    margin-top: 1em;
}


/*다음 버튼*/

.submitBtn {
    background-color: #3636be;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 100%;
    margin-top: 20px;
}

/*.submitBtn {
    display: block;
    width: 100%;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.368);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1em;
}*/

.submitBtn:hover {
    background-color: #190096;
}


/*feedback 구간 및 설명*/
#textpos {
    max-width: 1000px;
    margin: auto;
    padding: 50px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    text-align: center; /* 텍스트 가운데 정렬 */
    line-height: 1.6; /* 줄 간격 */
    font-weight: bolder;
}

.feedback {
    display: flex; 
    justify-content: center; /* 가로축 가운데 정렬 */
    align-items: center; /* 세로축 가운데 정렬 */
    height: 200px; /* 높이 설정 */
}



.feedback p {
    font-family: 'Malgun Gothic', 'Arial';
    font-size: 16px;
    line-height: 1.5;
    
}

/* 자꾸 나란히 써지는 문제 발생으로 추가*/
.feedback1 {
    flex-direction: column;
}

.image-container {
    flex-direction: column;
}

.image {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 20px;
}

.image img {
    display: block;
    width: 100%;
    height: auto;
    border: 1px;
    margin: auto;
    max-width: 400px;

}


.image p {
    text-align: center;
    margin-top: 10px;
    line-height: 1.5;
}


.too_many_feedback_in1_5 {
    display: flex;
    justify-content: center;
    align-items: center;
}